.Button {
    -fx-background-color:  #242638;
    -fx-background-radius: 15;
}

.Button:hover {
    -fx-background-color: #242650;
}

.Button1 {
    -fx-background-color:  #024f00;
    -fx-background-radius: 15;
}

.Button1:hover {
    -fx-background-color:  #024f24;
}

.label {
    -fx-overflow: hidden;
}

.label:hover {
    -fx-overflow: visible;
}

.Button3 {
    -fx-background-color:  #294a58;
    -fx-background-radius: 15;
}

.Button3:hover {
    -fx-background-color: #294a99;
}

.Button2 {
    -fx-background-color: #294a58;
    -fx-background-radius: 15;
    -fx-text-fill: #294a58;
}

.Button2:hover {
    -fx-background-color: #294a99;
    -fx-text-fill: #ffff;
}

.Button2 {
    -fx-background-color: #294a58;
    -fx-background-radius: 15;
    -fx-text-fill: #294a58;
}

.Button2:hover {
    -fx-background-color: #294a99;
    -fx-text-fill: #ffff;
}

.tabela {
    -fx-text-fill: cyan;
    -fx-font-style: italic;
    -fx-background-color: #85929E;
    -fx-background-radius: 30;
    -fx-border-radius: 30;
    -fx-blend-mode: multiply;
}